@charset "UTF-8";
body {
  color: #333333;
  line-height: 1.5;
  font-family: "ヒラギノ明朝 ProN", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  opacity: 0.7;
}

section {
  margin: 100px auto;
}
@media (max-width: 767px) {
  section {
    margin: 62px auto 0;
  }
}

.btn {
  display: block;
  text-align: center;
  padding: 16px 54px;
  color: #3EA1d1;
  border: solid 1px #3EA1d1;
  width: 157px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  color: #fff;
  background: #3EA1d1;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 18px;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    max-width: 480px;
    margin: 0 auto;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  z-index: 100;
}

@media (max-width: 767px) {
  .header .container {
    margin: 0;
  }
}

.header_nav {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.header_icon {
  display: inline-block;
  width: 120px;
  height: 21px;
}

.header_nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_nav-menu li {
  margin-left: 48px;
  letter-spacing: 0.16em;
}
@media (max-width: 767px) {
  .header_nav-menu {
    display: none;
  }
}

.drawer_icon {
  position: fixed;
  top: 32px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: 0.5s ease;
}
@media (max-width: 767px) {
  .drawer_icon {
    display: block;
  }
}
.drawer_icon.is_active .drawer_icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
}
.drawer_icon.is_active .drawer_icon-bar2 {
  opacity: 0;
}
.drawer_icon.is_active .drawer_icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
}

.drawer_icon-bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer_icon-bar1,
.drawer_icon-bar2,
.drawer_icon-bar3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #3EA1d1;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}

.drawer_icon-bar1 {
  top: 0;
}

.drawer_icon-bar2 {
  top: 8px;
}

.drawer_icon-bar3 {
  top: 16px;
}

.drawer_content {
  width: 270px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: 0.5s ease;
}
.drawer_content.is_active {
  transform: translateX(0);
}

.drawer_content-items {
  text-align: end;
  margin-top: 20px;
}

.drawer_content-item a {
  display: block;
  color: #fff;
  padding: 18px;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.drawer_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 298;
  display: none;
}
.drawer_background.is_active {
  display: block;
}

@media (max-width: 767px) {
  .main {
    max-width: 375px;
    margin: 0 auto;
  }
}

.main_img {
  position: relative;
  background: url(../img/top@2x.png);
  background-position: right 0 top 0;
  background-size: 990px 660px;
  background-repeat: no-repeat;
  height: 660px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.main_img .main_content-box {
  position: absolute;
  left: 0;
  top: 165px;
}
@media (max-width: 767px) {
  .main_img {
    background: url(../img/topsp@2x.png) no-repeat;
    background-size: contain;
    background-position: 50% 70%;
    max-height: 414px;
  }
  .main_img .main_content-box {
    display: none;
  }
}

.main_content-box {
  background: #fff;
  width: 330px;
  height: 330px;
  align-items: center;
}

.main_content {
  padding: 92px 0;
}

.main_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 28px;
}

.sp_content-box {
  display: none;
}
@media (max-width: 767px) {
  .sp_content-box {
    display: block;
  }
  .sp_content-box .sp_content {
    padding: 40px 0;
  }
  .sp_content-box .sp_title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  .sp_content-box .sp_title br {
    display: none;
  }
}

.section_title {
  position: relative;
  margin: 50px auto 28px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 0.58;
}
@media (max-width: 767px) {
  .section_title {
    font-size: 32px;
    margin: 0 auto;
    padding-top: 10px;
  }
}
.section_title::after {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  background-color: #3EA1d1;
}

.concept_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0;
}
@media (max-width: 767px) {
  .concept_group {
    display: block;
  }
}

.concept_img {
  background: url(../img/concept-1@2x.png) no-repeat center center/cover;
  max-width: 600px;
  width: 80em;
  min-height: 400px;
}
@media (max-width: 767px) {
  .concept_img {
    width: 345px;
    min-height: 230px;
    margin: 0 auto;
  }
}

.concept_text {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .concept_text {
    padding: 40px 0 0;
  }
}

.concept_text-top {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .concept_text-top {
    margin-bottom: 32px;
  }
}

.feature_cards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .feature_cards {
    display: block;
  }
}

.feature_card {
  width: 30%;
  margin: 15px;
  box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
  position: relative;
  max-width: 375px;
  display: block;
}
.feature_card:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .feature_card {
    width: 100%;
    margin: 0 auto 48px;
  }
}

.feature_card1, .feature_card2, .feature_card3 {
  transition: all 0.6s ease 0s;
}
.feature_card1:hover, .feature_card2:hover, .feature_card3:hover {
  transform: scale(1.04, 1.04);
}

.card_img-1 {
  background: url(../img/feature-1@2x.png) no-repeat center center/cover;
  width: 100%;
  height: 240px;
}

.card_img-2 {
  background: url(../img/feature-2@2x.png) no-repeat center center/cover;
  width: 100%;
  height: 240px;
}

.card_img-3 {
  background: url(../img/feature-3@2x.png) no-repeat center center/cover;
  width: 100%;
  height: 240px;
}

.feature_card-text {
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  padding: 32px 0;
}

.bg_area {
  background: url(../img/bg@2x.png) no-repeat center center/cover;
  max-width: 1280px;
  width: 100%;
  height: 478px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .bg_area {
    background: url(../img/bgsp@2x.png) no-repeat center center/cover;
    max-width: 480px;
    width: 100%;
    height: 484px;
  }
}
.bg_area::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg_text-top {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.6;
  margin-top: 126px;
  position: absolute;
}
@media (max-width: 767px) {
  .bg_text-top {
    font-size: 20px;
    font-weight: 300;
    margin-top: 182px;
  }
}

.bg_text-bottom {
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  position: absolute;
  top: 225px;
  width: 90%;
}
@media (max-width: 767px) {
  .bg_text-bottom {
    font-size: 14px;
    top: 268px;
    font-weight: 300;
  }
  .bg_text-bottom br:nth-of-type(2) {
    display: none;
  }
}

.products_cards {
  display: flex;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto 0;
}
@media (max-width: 767px) {
  .products_cards {
    display: block;
    margin: 64px auto 0;
    max-width: 375px;
  }
}

.card_1:hover .text_1, .card_1:hover .price_1 {
  opacity: 0.7;
}
.card_1:hover .products_card-img1 {
  transform: scale(1.04, 1.04);
}

.card_2:hover .text_2, .card_2:hover .price_2 {
  opacity: 0.7;
}
.card_2:hover .products_card-img2 {
  transform: scale(1.04, 1.04);
}

.card_3:hover .text_3, .card_3:hover .price_3 {
  opacity: 0.7;
}
.card_3:hover .products_card-img3 {
  transform: scale(1.04, 1.04);
}

.products_card {
  width: 29%;
  max-width: 375px;
  display: block;
}
@media (max-width: 767px) {
  .products_card {
    max-width: 375px;
    width: 100%;
  }
}
.products_card:hover {
  opacity: 1;
}

.products_card-img1 {
  background: url(../img/product-1@2x.png) no-repeat center center/contain;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  transition: all 0.6s ease 0s;
}

.products_card-img2 {
  background: url(../img/product-2@2x.png) no-repeat center center/contain;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  transition: all 0.6s ease 0s;
}

.products_card-img3 {
  background: url(../img/product-3@2x.png) no-repeat center center/contain;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  transition: all 0.6s ease 0s;
}

.products_card-text {
  margin-top: 24px;
  line-height: 1.6;
  font-size: 14px;
  max-width: 260px;
  width: 100%;
}
@media (max-width: 767px) {
  .products_card-text {
    margin: 24px auto 0;
  }
}

.products_card-price {
  margin-top: 16px;
  color: #989898;
  font-size: 14px;
  display: block;
  width: 100%;
  max-width: 260px;
}
@media (max-width: 767px) {
  .products_card-price {
    margin: 0 auto 48px;
  }
}

.products_btn {
  margin: 48px auto 0;
}

.news {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .news {
    padding-top: 60px;
  }
}

.news_block {
  display: flex;
  padding-bottom: 24px;
  border-bottom: #E0E0E0 solid 1px;
  margin: 66px 0 0 10px;
}
.news_block:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .news_block {
    display: block;
    max-width: 480px;
    width: 100%;
    margin: 66px auto 0;
  }
}

.news_hover1:hover .news_img-1 {
  transform: scale(1.04, 1.04);
}
.news_hover1:hover .news_text1 {
  opacity: 0.7;
}

.news_hover2:hover .news_img-2 {
  transform: scale(1.04, 1.04);
}
.news_hover2:hover .news_text2 {
  opacity: 0.7;
}

.news_hover3:hover .news_img-3 {
  transform: scale(1.04, 1.04);
}
.news_hover3:hover .news_text3 {
  opacity: 0.7;
}

.news_img-1 {
  background: url(../img/news-1@2x.png) no-repeat center center/contain;
  transition: all 0.6s ease 0s;
}

.news_img-2 {
  background: url(../img/news-2@2x.png) no-repeat center center/contain;
  transition: all 0.6s ease 0s;
}

.news_img-3 {
  background: url(../img/news-3@2x.png) no-repeat center center/contain;
  transition: all 0.6s ease 0s;
}

.news_img-1, .news_img-2, .news_img-3 {
  width: 260px;
  height: 160px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .news_img-1, .news_img-2, .news_img-3 {
    margin-right: 0;
    width: 310px;
    height: 191px;
    text-align: center;
    margin: 0 auto;
  }
}

.news_text {
  flex: 1;
}
@media (max-width: 767px) {
  .news_text {
    max-width: 310px;
    margin: 0 auto;
  }
}

.news_days {
  margin-top: 24px;
  font-size: 14px;
}

.news_text-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
}

.news_text-p {
  margin-top: 20px;
  color: #888888;
  font-size: 14px;
}

.about {
  padding: 160px 0 150px 0;
  margin: 0;
}
@media (max-width: 767px) {
  .about {
    padding: 96px 0;
  }
}

.about_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .about_group {
    flex-direction: column-reverse;
  }
}

.about_contents {
  max-width: 520px;
  width: 100%;
  margin-right: auto;
}

.about_content-top {
  font-size: 28px;
  font-weight: 700;
  margin-top: 102px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .about_content-top {
    font-size: 20px;
    margin-top: 40px;
  }
}

.about_content-text {
  margin-top: 48px;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .about_content-text {
    margin-top: 32px;
  }
}

.about_img {
  background: url(../img/concept-2@2x.png) no-repeat center center/cover;
  max-width: 600px;
  width: 80em;
  min-height: 400px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .about_img {
    width: 345px;
    min-height: 230px;
    margin-left: 0;
  }
}

.contact {
  background: url(../img/contact@2x.png) no-repeat center center/cover;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .contact {
    margin: 0 auto;
    height: 835px;
  }
}

.contact_title {
  color: #3EA1d1;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .contact_title {
    margin-top: 57px;
    padding-top: 0;
  }
}

.contact_attention {
  text-align: center;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .contact_attention {
    margin-top: 50px;
  }
}

.contact_attention-mark {
  color: #E7728E;
}

.contact_form {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .contact_form {
    margin: 24px auto 0;
    max-width: 320px;
  }
}

.contact_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .contact_item {
    display: block;
  }
}

.form_group-label {
  width: 180px;
  height: 40px;
  text-align: center;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
  background: rgba(62, 161, 209, 0.7019607843);
  position: relative;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .form_group-label {
    display: inline-block;
    padding: 8px 15px;
    width: auto;
    height: auto;
    margin-bottom: 3px;
    font-size: 14px;
  }
}
.form_group-label::after {
  position: absolute;
  content: "";
  top: 0;
  right: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent rgba(62, 161, 209, 0.7019607843);
  border-width: 20px 0 20px 7px;
}
@media (max-width: 767px) {
  .form_group-label::after {
    display: none;
  }
}

.form_group-label-inline {
  font-size: 12px;
  color: #E7728E;
  vertical-align: super;
  line-height: 1;
}

.form_group-input {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  background: #fff;
  margin-left: 11px;
  height: 40px;
  box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.1607843137);
}
@media (max-width: 767px) {
  .form_group-input {
    margin-left: 0;
  }
}
.form_group-input [type=text] {
  box-shadow: none;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.form_group-input [type=email] {
  box-shadow: none;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}
.form_group-input textarea {
  box-shadow: none;
  background: #ffffff;
  padding: 10px 16px;
  appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  height: 112px;
  resize: none;
}

.radio {
  display: flex;
  max-width: 320px;
  width: 100%;
  margin-left: 11px;
}
@media (max-width: 767px) {
  .radio {
    margin-left: 0;
  }
}

.radio_input-item {
  display: none;
}

input[type=radio]:checked + label {
  background: #3EA1d1;
  color: #fff;
}

.radio_input-btn {
  display: inline-block;
  background: #fff;
  width: 80px;
  height: 38px;
  padding: 7px 22px 0;
  color: #3EA1d1;
  text-align: center;
  cursor: pointer;
}
.radio_input-btn:hover {
  opacity: 0.7;
}

.form_check {
  text-align: center;
  margin-top: 115px;
}
@media (max-width: 767px) {
  .form_check {
    margin-top: 95px;
  }
}
.form_check a {
  text-decoration: underline;
  color: #3EA1d1;
}
.form_check [type=checkbox] {
  display: none;
}
.form_check span {
  display: inline-block;
  padding-left: 32px;
  position: relative;
}
.form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #3EA1d1;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.form_check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: transparent url(../img/checkbox.png) no-repeat center center/contain;
  display: none;
}
.form_check [type=checkbox]:checked + span::after {
  display: block;
}

.contact_btn {
  background: #fff;
  color: #3EA1d1;
  margin: 48px auto 0;
}
.contact_btn.-active {
  background: #3EA1d1;
  color: #fff;
}
@media (max-width: 767px) {
  .contact_btn {
    margin-top: 29px;
    padding: 16px 44px;
  }
}

.contact-message {
  padding: 30px 18em;
  display: none;
}
.contact-message.error {
  color: #f00;
}

footer {
  background: #F7F7F7;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 17px;
}

.footer_top {
  padding: 48px 0 24px;
}

.footer_contents {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .footer_contents {
    flex-direction: column;
    text-align: center;
  }
}

.footer_content {
  font-size: 12px;
  display: inline-block;
  width: 144px;
  height: 12px;
}
@media (max-width: 767px) {
  .footer_content {
    margin: 0 auto;
  }
}
.footer_content:nth-of-type(2) {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .footer_content:nth-of-type(2) {
    margin: 16px auto 0;
  }
}

.footer_icons {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.footer_icon {
  font-size: 22px;
  color: #3EA1d1;
}

.instagram {
  margin-left: 40px;
}

.line {
  margin-left: 40px;
}

.footer_copyright {
  font-size: 12px;
  color: #888888;
  padding: 24px 0 12px;
}